body{
  background-color:rgb(232, 232, 232); 
  font-family: monospace;
}
h1{
  /*background-color: white;*/
  text-align:center;
  font-size: 48px;  
  font-weight: bold; 
}
@keyframes rgbColor {
  0% {
    background-color: rgb(238, 233, 233); 
  }
  20% {
    background-color: rgb(255, 228, 225); 
  }
  40% {
    background-color: rgb(255, 240, 245); 
  }
  60% {
    background-color: rgb(230, 230, 250); 
  }
  80% {
    background-color: rgb(245, 245, 245); 
  }
  100% {
    background-color: rgb(240, 255, 255); 
  }
}


body {
  background-color: rgb(232, 232, 232);
  animation: rgbColor 60s infinite; 
  font-family: monospace;
}

#serverMessage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: red;
  font-size: 18px;
}


#textInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 18px;
  position: absolute;
  top: calc(50% + 230px);
  left: 50%;
  transform: translate(-50%, -50%);
}
#lobby{
  text-align: center;
  font-size: 18px;

}
#lobbyList{
  background-color: white;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 18px;
  width:300px;
  border:3px solid;
  border-color: black;
  padding:0px;
}
#nameCell{
  text-align: left;
  padding-left:5px;
  padding-right:15px;
}
#statusCell{
  padding-right:5px;
  text-align: right;
}
#grid {
  margin-left: 10px;
  border-collapse:separate;
  border-spacing:0 0px;
}

.clickable {
  border: 1px solid black;
  cursor: pointer;
  margin:0px;
  display: table-cell;
  vertical-align: middle;
  user-select: none;
  width: 22px;
  height: 22px;
  text-align: center;
}
.clickable.activated {
  background-color: crimson;
}
#gameArea{
  margin-top: 0px;
  width: 100%;
  height:100%;
  display: flex;
}

#leftBox{
  background-color: rgb(140, 140, 140);
  height:790px;
  width:800px;
  margin-right: 60px;
  float:left;
}
#midBox{
  background-color: rgb(255, 255, 255);
  height:730px;
  width:300px;
  margin-right: 5px;
  float:left;
}
#rightBox{
  background-color: rgb(198, 198, 198);
  border: 1px solid;
  width:20%;
  height:790px;
  text-align: center;
  float:left;
}

#timer {
  font-size: 24px;
  color: white;
  background-color: white; 
  text-align: center;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px; 
}


#scoreBoard{
  background-color: rgb(255, 255, 255);
  height:30%;
  width:100%;

}
#chatMessages{
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.1);
  max-height: 500px; 
  width: 265px; 
  height: calc(93% - 20px); 
  font-size: 13px;

}

#chatMessages::-webkit-scrollbar {
  width: 8px;
}

#chatMessages::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

#chatMessages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}


#chat{
  background-color: rgb(229, 229, 229);
  height: calc(70% - 20px); 
  width:100%;
  padding: 10px;
}

#chatInput {
  width: calc(100% - 70px);
  margin-top: 10px;
  padding: 5px;
  box-sizing: border-box;
}
#chatButton {
  margin-top: 5px;
  padding: 3px 6px;
  cursor: pointer;
}
#playerCell{
  border: 1px solid;
  padding-left: 5px;
  width:70%;
}
#scoreCell{
  border: 1px solid;
  width:30%;
  text-align: center;
}
#wordBank{
  background-color: rgb(153, 176, 214);
  height:350px;
  width:100px;
}