body{
  background-color:rgb(232, 232, 232); 
  font-family: monospace;
}
h1{
  background-color: white;
  text-align:center;
}
#lobby{
  text-align: center;
}
#lobbyList{
  background-color: white;
  margin: 0 auto;
  margin-bottom: 10px;
  width:300px;
  border:3px solid;
  border-color: black;
  padding:0px;
}
#nameCell{
  text-align: left;
  padding-left:5px;
  padding-right:15px;
}
#statusCell{
  padding-right:5px;
  text-align: right;
}
#grid {
  margin-left: 10px;
  border-collapse:separate;
  border-spacing:0 0px;
}

.clickable {
  border: 1px solid black;
  cursor: pointer;
  margin:0px;
  display: table-cell;
  vertical-align: middle;
  user-select: none;
  width: 22px;
  height: 22px;
  text-align: center;
}
.clickable.activated {
  background-color: crimson;
}
#gameArea{
  margin-top: 0px;
  width: 100%;
  height:100%;
  display: flex;
}

#leftBox{
  background-color: rgb(140, 140, 140);
  height:790px;
  width:800px;
  margin-right: 60px;
  float:left;
}
#midBox{
  background-color: rgb(137, 180, 169);
  height:790px;
  width:300px;
  margin-right: 5px;
  float:left;
}
#rightBox{
  background-color: rgb(198, 198, 198);
  border: 1px solid;
  width:20%;
  height:790px;
  text-align: center;
  float:left;
}

#scoreBoard{
  background-color: rgb(255, 255, 255);
  height:30%;
  width:100%;
}
#chat{
  background-color: rgb(229, 229, 229);
  height:70%;
  width:100%;
}
#playerCell{
  border: 1px solid;
  padding-left: 5px;
  width:70%;
}
#scoreCell{
  border: 1px solid;
  width:30%;
  text-align: center;
}
#wordBank{
  background-color: rgb(153, 176, 214);
  height:350px;
  width:100px;
}